@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-body: "Inter", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #041534;
  --color-primary-container: #1b2a4a;
  --color-on-primary-container: #8392b7;
  --color-secondary: #934b00;
  --color-secondary-container: #ff8a19;
  --color-secondary-fixed: #ffdcc5;
  --color-surface: #f8fafb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f5;
  --color-surface-container: #eceeef;
  --color-surface-container-high: #e6e8e9;
  --color-on-surface-variant: #45464e;
  --color-background: #f8fafb;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: #191c1d;
}
